*
!extension
!extension/icons
!extension/icons/*

!extension/*.html
!extension/*.css
!extension/*.js

!extension/manifest.json

!extension/tessdata
!extension/tessdata/*

!extension/lib
!extension/lib/*

!extension/models
!extension/models/*.onnx
!extension/models/kiji-tokenizer
!extension/models/kiji-tokenizer/*

!.gitignore
!.gitattributes
.DS_Store

!backend
!backend/main.py
!backend/.env.sample
!backend/pyproject.toml
